.nav{
    display: flex; 
    justify-content: space-between;
    background-color: black;
    color: white;
}
ul{
    list-style: none;
}
.logo{
    padding: 30px;
}
.list-container{
    display: flex;
    justify-content: space-between;
}
.list-item{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
}
.list-item:hover{
    background-color: red;
}
.btns{
    background-color: black;
    color: white;
}

.contact{
    margin: 2px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    height: 100vh;
    width: 100%;
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
}

.contact{
    margin: 10px;
    background-color: green;
}

.make-request{
    margin: 10px;
    background-color: blueviolet;
}

