<<<<<<< HEAD

.nav{
    display: flex; 
    justify-content: space-between;
    background-color: black;
    color: white;
}
ul{
    list-style: none;
}
.logo{
    padding: 30px;
}
.list-container{
    display: flex;
    justify-content: space-between;
}
.list-item{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
}
.list-item:hover{
    background-color: red;
=======
.header{
    height: 100vh;
    width: 100%;
    background-color: beige;
>>>>>>> d4d0f8eefc057f766c533359d223d925ed93d427
}