<<<<<<< HEAD
<<<<<<< HEAD

.nav{
    display: flex; 
    justify-content: space-between;
    background-color: black;
    color: white;
}
ul{
    list-style: none;
}
.logo{
    padding: 30px;
}
.list-container{
    display: flex;
    justify-content: space-between;
}
.list-item{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
}
.list-item:hover{
    background-color: red;
=======
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

>>>>>>> c8071cc4978c79f261fcda55ad3ae9c61ff149c5
.header{
    height: 100vh;
    width: 100%;
    background-color: beige;
<<<<<<< HEAD
>>>>>>> d4d0f8eefc057f766c533359d223d925ed93d427
=======
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
}

.contact{
    margin: 10px;
    background-color: green;
}

.make-request{
    margin: 10px;
    background-color: blueviolet;
>>>>>>> c8071cc4978c79f261fcda55ad3ae9c61ff149c5
}