
.btns{
    background-color: black;
    color: white;
}

.contact{
    margin: 2px;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    height: 100vh;
    width: 100%;
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
}

.contact{
    margin: 10px;
    background-color: green;
}

.make-request{
    margin: 10px;
    background-color: blueviolet;
}

